body{
    background-color: #1b1b1b;
}
.projects{
     display: inline;
}
a{
    text-decoration: none;
}
.project{
    background-color: #272727;
    width: clamp(400px,40%, 40%);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
    padding-bottom: 60px;
    text-align: center;
    transition: 1s;
    text-decoration: none;
    opacity: 0%;
}
.title {
    text-shadow: rgb(44, 44, 44) 5px 5px 5px;
    margin-top: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #ffffff;
    font-size: clamp(60px, 70px, 70px);
    position: inline;
    animation: animation 1s linear 0s 1 normal forwards;
  }
.one{
    animation: animation 1s linear .5s 1 normal forwards;
}
.two{
    animation: animation 1s linear 1s 1 normal forwards;
}
.three{
    animation: animation 1s linear 1.5s 1 normal forwards;
}
.project:hover{
    width: clamp(420px,42%, 42%);
}
.project p{
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    color: #FFF;
}

.project img{
    margin-top: 10%;
    border-radius: 20px;
    width: 90%;
    height: auto;
}
@keyframes animation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}